@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

body {
  background-color: mintcream;
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  margin: 20 auto;
}

body > *:last-child {
  border-bottom: none;
}

/*======================================
            Header section
========================================*/
.container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.upper-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.profile-image {
  border-radius: 50%;
  margin: 2em;
  width: 8.5em;
  border: 8px solid #2e6878;
  margin-right: 2em;
}

.header-content {
  display: flex;
  flex-direction: column;
  margin-left: 2em;
  justify-content: center;
}

.name {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 5.8rem;
  margin: 0;
  color: #16537e;
}

.subtitle {
  font-size: 1.3rem;
  margin: 0;
  text-align: center;
}

#nav-bar ul {
  list-style-type: none;
  display: flex;
  flex: 1;
  justify-content: center;
  overflow: hidden;
  margin: 2em auto;
}

li a {
  text-decoration: none;
  color: #2a6571;
  font-size: 2rem;
  font-weight: 600;
  margin: 0.3em;
}

li a:hover {
  text-decoration: underline;
  background-color: rgb(166, 217, 236);
}

/*=====================================
      General section styling
=======================================*/
section {
  padding: 0.3em;
  margin: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid black;
}

section > h2 {
  text-align: center;
  font-size: 1.5rem;
  box-shadow: rgb(119, 204, 249) 0px 5px 15px -10px;
  width: fit-content;
}

/*===============================
         About section
=================================*/
#about p {
  padding: 1.5em;
  margin: 0.5em auto;
  font-size: 1.2rem;
  text-align: center;
}

/*=================================
        Experience section
==================================*/
.experience-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0.3em;
  padding: 0.5em;
  font-size: 1.2rem;
}

.job-title-date-container {
  display: flex;
  flex-direction: row;
}

.job-title {
  flex: 2;
  justify-content: flex-start;
}

.job-data {
  justify-content: flex-end;
}

.job-description {
  margin-bottom: 1.5em;
}

/*============================
      Connect section
==============================*/

.connect-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 1em;
}

.connect-container > a {
  margin: 0 0.5em;
}

.fa {
  padding: 0.8em;
  font-size: 3rem;
  width: 30%;
  text-align: center;
  text-decoration: none;
  margin: 0.5em 0.2em;
  border-radius: 50%;
}

.fa:hover {
  opacity: 0.7;
}

.fa-envelope {
  background: red;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-github {
  background: rgb(33, 32, 32);
  color: white;
}

/*============================================
Form and message field
+++++++++++++++++++++++++++++++++++++++++=++++*/


/*==============================================
              Media queries
  ==============================================*/
@media (width <= 400px) {
  .name {
    text-align: center;
    margin-bottom: 0.3em;
  }
}

@media (width <= 800px) {
  .upper-content {
    display: flex;
    flex-direction: column;
  }

  .name {
    font-size: 4rem;
    align-self: center;
  }

  .subtitle {
    align-self: center;
  }

  .profile-image {
    order: 2;
    align-self: center;
  }

  .header-content {
    order: 0;
  }

  #nav-bar ul {
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    max-width: 78%;
    padding: 0.5em;
  }

  li a {
    background-color: bisque;
    margin-bottom: 0.3em;
  }

  li a:hover {
    text-decoration: none;
    color: rgb(205, 238, 255);
    background-color: rgb(42, 44, 53);
  }

  .job-title-date-container {
    flex-direction: column;
  }

  .job-title {
    color: darkblue;
  }
}
