@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

body {
  background-color: mintcream;
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  margin: 0.2em auto;
}

/*========================================
            Navigation bar
==========================================*/
.nav-bar {
  position: sticky;
  top: 0;
  overflow: hidden;
  background-color: #16537e;
}

.nav-bar ul {
  list-style-type: none;
  display: flex;
  flex: 1;
  justify-content: center;
  margin: 0.2em auto;
  padding: 0.3em;
}

li a {
  text-decoration: none;
  text-align: center;
  color: #fdffff;
  font-size: 2rem;
  font-weight: 450;
  margin: 0.5em 0.5em;
}

li a:hover {
  text-decoration: underline;
  background-color: rgb(166, 217, 236);
  color: black;
}

/*======================================
            Header section
========================================*/
.container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.upper-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.profile-image {
  border-radius: 50%;
  margin: 2.5em;
  width: 9rem;
  height: 13rem;
  border: 5px solid #2e6878;
  margin-top: 5em;
  margin-right: 2em;
}

.header-content {
  display: flex;
  flex-direction: column;
  margin-left: 2em;
  justify-content: center;
}

.name {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 5.8rem;
  margin: 0;
  color: #16537e;
}

.subtitle {
  font-size: 1.3rem;
  margin: 0;
  text-align: center;
}

/*=====================================
      General section styling
=======================================*/
section {
  padding: 0.3em;
  margin: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgba(162, 160, 160, 0.914);
}

section > h2 {
  text-align: center;
  font-size: 2rem;
  box-shadow: rgb(119, 204, 249) 0px 5px 15px -10px;
  width: fit-content;
}

/*===============================
         About section
=================================*/
#about p {
  padding: 1.5em;
  margin: 0.5em auto;
  font-size: 1.2rem;
  text-align: center;
}

/*=================================
        Experience section
==================================*/
.experience-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0.3em;
  padding: 0.5em;
  font-size: 1.2rem;
}

.job-title-date-container {
  display: flex;
  flex-direction: row;
}

.job-title {
  flex: 2;
  justify-content: flex-start;
}

.job-data {
  justify-content: flex-end;
}

.job-description {
  margin-bottom: 1.5em;
}

/*==================================
      Skill section
====================================*/
.skill-list {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 0.5em;
  row-gap: 0.5em;
}

.skill-list li {
  border: 1px solid rgba(55, 175, 227, 0.66);
  border-radius: 0.5rem;
  text-align: center;
  background-color: rgba(55, 175, 227, 0.66);
  padding: 0.2em;
  color: black;
  font-size: 2rem;
}

/*============================================
        Project section
=============================================*/
.project-list li a {
  color: black;
  text-decoration: none;
  font-size: 2rem;
}

/*============================================
Form and message field
==============================================*/
form {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 1em;
}

input,
textarea {
  padding: 10px 10px;
  margin: 5px 0;
  border: 1px solid rgb(11, 82, 108);
  border-radius: 0.8em;
}

.message-item a {
  color: black;
}

button {
  align-self: center;
  width: fit-content;
  background-color: rgb(79, 131, 177);
  text-align: center;
  text-decoration: none;
  border: none;
  display: inline-block;
  font-size: 1.2rem;
  padding: 0.2em;
  border-radius: 0.3em;
}

.edit-btn,
.remove-btn {
  width: fit-content;
  background-color: rgb(79, 131, 177);
  text-align: center;
  text-decoration: none;
  border: none;
  display: inline-block;
  font-size: 1.2rem;
  padding: 0.2em;
  border-radius: 0.3em;
  margin-left: 0.5em;
}

/*============================
      Connect section
==============================*/
#connect {
  border-bottom: none;
}

.connect-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 1em;
}

.connect-container > a {
  margin: 0 0.5em;
}

.fa {
  padding: 0.8em;
  font-size: 3rem;
  width: 30%;
  text-align: center;
  text-decoration: none;
  margin: 0.5em 0.2em;
  border-radius: 50%;
}

.fa:hover {
  opacity: 0.7;
}

.fa-envelope {
  background: red;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-github {
  background: rgb(33, 32, 32);
  color: white;
}

/*==============================================
              Media queries
  ==============================================*/
@media (max-width: 420px) {
  .name {
    text-align: center;
    margin-bottom: 0.3em;
  }

  .skill-list {
    display: flex;
    flex-direction: column;
    justify-items: center;
  }

  .skill-list li {
    font-size: 1.2rem;
  }

  .project-list li a {
    font-size: 1.5rem;
  }
}

@media (max-width: 890px) {
  .nav-bar ul {
    flex-direction: column;
    align-items: center;
  }

  .upper-content {
    display: flex;
    flex-direction: column;
  }

  .name {
    font-size: 4rem;
    align-self: center;
  }

  .subtitle {
    align-self: center;
  }

  .profile-image {
    order: 2;
    align-self: center;
  }

  .header-content {
    order: 0;
  }

  .job-title-date-container {
    flex-direction: column;
  }

  .job-title {
    color: darkblue;
  }
}
